.cursor/
.vscode/
__pycache__/
*.egg-info/
deployment.yaml
**/deployment.yaml


##DO NOT COMMIT GITIGNORE BELOW THIS LINE
config/example/
scripts/*
!scripts/
!scripts/colab_job.py
dev/
doc/
docs/_build/

data
pyhotpants
TESSreduce
workspace
.claude_plan
